connexion[swagger-ui,uvicorn]     # Web framework for OpenAPI schema
SQLAlchemy[asyncio]               # Object Relational Mapping
asyncpg~=0.31.0                   # PostgreSQL driver
watchdog~=6.0.0                   # Watch for files change
#pyhumps   # For humps.camelize, used in Beacon
pydantic~=2.12.5
#fastobo~=0.11.1
aiosql~=15.0
candigv2-logging@git+https://github.com/CanDIG/candigv2-logging.git@v1.0.1  # CanDIG logging wrapper
candigv2-authx@git+https://github.com/CanDIG/candigv2-authx.git@v2.8.7
