connexion[swagger-ui,uvicorn]     # Web framework for OpenAPI schema 
SQLAlchemy[asyncio]               # Object Relational Mapping 
asyncpg                           # PostgreSQL driver 
watchdog                          # Watch for files change 
candigv2-logging@git+https://github.com/CanDIG/candigv2-logging.git@v1.0.1  # CanDIG logging wrapper